[user]
  name = Brian Milco
  email = bcmilco@gmail.com
[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  vtree = log --graph --simplify-by-decoration --pretty=format:'%d' --all
  tree = log --graph --pretty=format':%s %Cblue%an, %ar %Cgreen(%h)%Creset'	
  timeline = log --oneline --graph --decorate
  change-commits = "!f() { VAR1=$1; VAR='$'$1; OLD=$2; NEW=$3; echo \"Are you sure for replace $VAR  $OLD => $NEW ?(Y/N)\";read OK;if [ \"$OK\" = 'Y' ] ; then shift 3; git filter-branch  --env-filter \"if [ \\\"${VAR}\\\" = '$OLD' ]; then export $VAR1='$NEW';echo 'to $NEW'; fi\" $@; fi;};  f "
  sed = !sh -c 'git grep --null --full-name --name-only --perl-regexp -e \"$1\" | xargs -0 perl -i -p -e \"s/$1/$2/g\"' -
[apply]
  whitespace = fix
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
  gpgsign = false
  verbose = true
[core]
  excludesfile = ~/.local/gitignore_global
  pager = delta
[delta]
  navigate = true
  features = line-numbers decorations
  syntax-theme = Solarized (dark)
[diff]
  colorMoved = default
[gpg]
	program = gpg
[init]
  defaultBranch = master
[interactive]
  singlekey = true
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[pager]
  grep = false
	branch = false
[pull]
  rebase = true
[push]
  # Don't make me set the upstream tracking branch on first push, assume
  # current branch. Only pushes the current branch, not all branches.
  default = current
[rebase]
  autostash = true
  autosquash = true
[rerere]
  enabled = true
[include]
  path = ~/.config/gitconfig
[includeIf "gitdir:~/git/work/"]
  path = ~/git/work.gitconfig
[includeIf "gitdir:~/git/public/"]
  path = ~/git/public.gitconfig
